<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre Mim



{% endblock %}

{% block content %}
<h1>Sobre Mim</h1>

<p>Conteúdo de página Sobre Mim

    Sou um desenvolvedor criativo apaixonado por tecnologia que encontra inspiração ao criar projetos pessoais durante a madrugada. Nas horas vagas, adoro ouvir música lo-fi enquanto programo, testar jogos competitivos com amigos e descobrir novos restaurantes escondidos pela cidade.

</p>
{% endblock %}