<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Informaçoes Profisionais



{% endblock %}

{% block content %}
<h1>Informaçoes Profisionais</h1>

<p>Conteúdo de página Profissao

    Sou desenvolvedor de software com experiência na criação de projetos digitais inovadores voltados para praticidade e desempenho. No meu dia a dia, transformo ideias criativas em aplicações funcionais, colaboro com equipes para desenvolver soluções eficientes e acompanho cada etapa dos projetos para garantir qualidade e organização. Minha habilidade com programação e design de interfaces, combinada com minha paixão por música, jogos e novas experiências urbanas, me permite criar projetos modernos, dinâmicos e visualmente atrativos.

</p>
{% endblock %}