<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre ser estudante de TI



{% endblock %}

{% block content %}
<h1>Sobre ser estudante de TI</h1>

<p>Conteúdo de página sobre ser estudante de TI

   Ser desenvolvedor de software é viver em constante evolução. A cada dia surgem novas ferramentas, tendências e tecnologias que desafiam a criatividade e incentivam o aprendizado contínuo. Entre códigos, projetos e soluções digitais, a rotina envolve desenvolver aplicações, aprimorar interfaces e buscar maneiras mais eficientes de transformar ideias em realidade. Além da parte técnica, a inspiração também vem das experiências do cotidiano, da música, dos jogos e das descobertas pela cidade, tornando cada projeto uma mistura de inovação, criatividade e personalidade.

    
   
</p>
{% endblock %}